@import (reference) '@styles/variables.less';

.info {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.name {
  font-size: 1.6rem;
  color: @text-main;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
